body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    height: 100%;
    overflow-x: hidden;
}
.sidebar {
    width: 180px;
    height: 100vh;
    background-color: #9f3fbc;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100; 
}
.sidebar h3 {
    padding-left: 60px;
    padding-top: 25px;
    color: #eaf2f8;
    font-weight: bolder;
}
.sidebar nav {
   display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}
.sidebar a {
    color: white;
    text-decoration: none;
    padding: 1px 20px;
    border-radius: 4px;
    transition: background-color 0.3s;
    font-weight: bolder;
    line-height: 84%;
}
.sidebar a:hover {
    background-color: #34495e;
}
.main-content {
   margin-left: 180px;
    padding: 10px 20px;
    position: relative;
    z-index: 1;
    background-color: #fff;
    line-height: 1px;
}
.wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    line-height: 1;
}
.wrapper1 {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.wrapper2 {
    display: flex;
    flex-direction: column;
    margin-left: 210px;
    margin-right: 100px;
}
.wrapper3 .main-content{
  font-style: italic;
  font-size: smaller;
}
/*Main Content*/
.EC2 .main-content {
     background-color: #eaf2f8;
    font-style: italic;
    font-size: smaller;
    
}
.s3 .main-content {
     background-color: #eaf2f8;
    font-style: italic;
    font-size: smaller;
    
}
.IAM .main-content {
     background-color: #eaf2f8;
    font-style: italic;
    font-size: smaller;
    display: flex;
}

/* Hide dropdown by default */
.dropdown {
  display: none;
  flex-direction: column;
  background-color: #a658c4;
  padding-left: 20px;
}
body.cloudwatch-page .dropdown {
  display: flex;
}
.dropdown a {
  padding: 6px 0;
  color: white;
  text-decoration: none;
  font-weight: normal;
}
.dropdown-label {
  display: block;
  padding: 10px 20px;
  font-weight: bold;
  background-color: #9f3fbc;
  color: white;
  text-decoration: none;
}
/*Body*/
.EC2 {
    background-color: #f2f2f2;
    font-style: normal;
}
.Pre-defined {
    background-color: #f2f2f2;
    font-style: normal;
}
.s3 { 
    background-color: #f2f2f2;
    font-style: normal;
}
.IAM { 
    background-color: #f2f2f2;
    font-style: normal;
}

.Pre-defined .main-content {
    background-color: #f2f2f2;
    font-style: normal;
    color: black;
    border: 10px;
    line-height: 20px;
    padding-top: 2px;
}
.Pre-defined .main-content table{
 width: 100%;
}
/*code {
    color: black;            
    padding: 2px 6px;
    border-radius: 4px;
    font-family: Consolas, monospace;
}*/
.one {
margin-top: 2%;
margin-bottom: 2%;
}
.two {
background-color: #91f4bc;         /* Light gray background */
  border: 2px solid #ccc;            /* Light border for square look */
  padding: 8px;
  margin-top: -1%;
  margin-bottom: -0.5%;
  font-family: 'Courier New', monospace; /* Clear, coder-style font */
  color: #b30000;                    /* Deep red text */
  white-space: pre-line;             /* Keeps formatting */
  border-radius: 2px;
}
.three {
  margin-bottom: 2% ;
}
.four {
    margin-top: -1.2%;
}
.five {
     line-height: 1.4;
} 
.six {
    margin-top: 50px;
     margin-left: 200px;
     padding-bottom: -20%;
     font-weight: bold;
     display: flex;
     flex-direction: column;
     width: 83%;
     font-size: smaller;
} 

.eight {
  background-color: #91f4bc;        
  border: 2px solid #ccc;            
  padding: -5px;
  margin-top: -1%;
  margin-bottom: -0.5%;
  font-family: 'Courier New', monospace; 
  color: #b30000;                   
  white-space: pre-line;             
  border-radius: 2px;
}

.nine {
  background-color: #91f4bc;       
  border: 2px solid #ccc;            
  padding: -5px;
  margin-top: -1%;
  margin-bottom: -0.5%;
  font-family: 'Courier New', monospace; /* Clear, coder-style font */
  color: #b30000;                    /* Deep red text */
  white-space: pre-line;             /* Keeps formatting */
  border-radius: 2px;
  font-size: medium;
}
.ten {
  background-color: #91f4bc;         /* Light gray background */
  border: 2px solid #ccc;            /* Light border for square look */
  padding: -5px;
  margin-top: -1%;
  margin-bottom: -0.5%;
  font-family: 'Courier New', monospace; /* Clear, coder-style font */
  color: #b30000;                    /* Deep red text */
  white-space: pre-line;             /* Keeps formatting */
  border-radius: 2px;
  font-size: smaller;
}
.zero1 {
line-height: 1;
}

/*CW-statistics*/
.container {
font-style: italic;
font-size: smaller;
height: 100%;
width: 100%;
max-width: 100%;
margin: 0 auto;
margin-left: 0px;
margin-right: 0px;
box-sizing: border-box;
}

.seven {
    line-height: 15px;
}
.zero1 {
margin-left: 5px;
margin-top: 1px;
width: 100%;
}
.zero2 {
  padding-top: 8px;
  padding-bottom: -3px;
}
.zero3 {
  background-color: #e8eeee;         
  margin-top: 1px;
  margin-left: 200px;
  padding-left: 20px;
  margin-bottom: 0%;
  padding-bottom: 0%;
  font-family: 'Courier New', monospace; 
  color: #030202;                    
  white-space: pre-line;             
  border-radius: 15px;
  font-size: medium;
  line-height: 1;
  height: 105px;
  width: calc(100%-200px);
}
.zero4 {
  margin-left: 680px;
  margin-top: 2px;
  margin-bottom: 5px;
  text-decoration: underline;
}
.zero5 {
  margin-left: 185px;
  margin-top: 2px;
  margin-bottom: 0px;
}
.zero6 {
  margin-right: 200px;
  width: calc(100% - 200px);
  box-sizing: border-box;
}
.zero6 table {
  width: 100%;
  max-width: 100%;
  table-layout: auto;
  word-wrap:break-word;
  overflow-wrap: break-word;
}
.zero6 table th,
.zero6 table td {
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.zero7 {
  margin-left: 190px;
  margin-top: 2px;
  margin-bottom: 2px;
  width: 100%;
}
.zero8 {
  margin-left: 200px;
}
.zero9 {
margin-top: -15px;
margin-bottom: 0%;
margin-left: 5px;
}
.zero10 {
  display: flex;
  flex-direction: column;
  margin-left: 200px;
  margin-top: 0%;
  margin-bottom: 0%;
}
.zero11 {
 margin-top: 1px;
 margin-bottom: 3px;
 font-weight: bold;
 margin-left: -9px;
}
.zero12 {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  table-layout: fixed;
}
.zero12 th {
  width: 1%;
}
.zero13 {
  background-color: #8B4513; 
  color: white;
  padding: 2px 5px;
  border-radius: 3px;
}
.zero14 {
 margin-bottom: -15px;
 margin-top: 1px;
}
.zero15 {
  background-color: #e8eeee;
  border-radius: 3px;
  height: 30px;
  line-height: 1;
}
.zero16 {
  margin-top: 2px;
  margin-bottom: -3px;
  padding-left: 3px;
}
.zero17 {
  background-color: #e8eeee;
  border-radius: 3px;
  height: 30px;
  margin-top: 5px;
}
.zero18 {
    margin-top: 2px;
   margin-bottom: -8px;
   padding-left: 3px;
}
.zero19 {
  margin-top: -7px;
  padding-left: 4px;
}
.zero20 {
  background-color: #e8eeee;
  border-radius: 3px;
  height: 70px;
  margin-top: -2px;
  margin-bottom: 1px;
  padding-bottom: -3px;
  width: 100%;
}
.zero21{
  margin-top: 0px;
  padding-left: 4px;
  padding-top: -7px;
  margin-bottom: 0px;
}
.zero22 {
 margin-top: -16px;
 margin-left: 3px;
}
.zero23 {
  background-color: #e8eeee;
  border-radius: 3px;
  height: 30px;
  margin-bottom: 4px;
  line-height: 1;
}
.zero24 {
   margin-top: -31px;
  margin-bottom: -5px;
  padding-left: 3px;

}
.zero25 {
  margin-top: -14px;
  padding-left: 4px;
}
.zero26 {
background-color: #e8eeee;
  border-radius: 3px;
  height: 30px;
  margin-top: 0px;
  margin-bottom: -15px;
}
.zero27 {
  margin-top: 2px;
  margin-bottom: -3px;
  padding-left: 3px;
}
.zero28 {
margin-top: -15px;
  padding-left: 4px;
}
.zero29 {
  background-color: #e8eeee;
  border-radius: 3px;
  height: 45px;
  margin-top: -16px;
}
.zero30 {
margin-bottom: -5px;
padding-left: 3px;
}
.zero31 {
  margin-top: -15px;
  margin-bottom: -5px;
  margin-left: 3px;

}
.zero32 {
margin-top: -13px;
margin-left: 3px;
}
.zero33 {
  background-color: #e8eeee;
  border-radius: 3px;
  height: 30px;
  margin-top: 1px;
}
.zero34 {
  margin-top: 2px;
  margin-bottom: -3px;
  padding-left: 3px;
}
.zero35 {
  margin-top: -16px;
  padding-left: 4px;
}
.zero36 {
  background-color: #e8eeee;
  border-radius: 3px;
  height: 30px;
  margin-top: 1px;
}
.zero37 {
  margin-top: 2px;
  margin-bottom: -3px;
  padding-left: 3px;
}
.zero38 {
  margin-top: -16px;
  padding-left: 4px;
}
.zero39 {
  background-color: #e8eeee;
  border-radius: 3px;
  height: 30px;;
  margin-top: 1px;
}
.zero40 {
  margin-top: 2px;
  margin-bottom: -3px;
  padding-left: 3px;
}
.zero41 {
  margin-top: -15px;
  padding-left: 4px;
}
.zero42 {
  background-color: #e8eeee;
  border-radius: 3px;
  height: 30px;
  margin-top: 1px;
}
.zero43 {
  margin-top: 2px;
  margin-bottom: -3px;
  padding-left: 3px;
}
.zero44 {
  margin-top: -15px;
  padding-left: 4px;
}
.zero45 {
  background-color: #e8eeee;
  border-radius: 3px;
  height: 30px;
  margin-top: 1px;
}
.zero46 {
  margin-top: 2px;
  margin-bottom: -3px;
  padding-left: 3px;
}
.zero47 {
  margin-top: -15px;
  padding-left: 4px;
}
.zero48 {
  width: 100%;
  overflow-wrap: break-word;
  box-sizing: border-box;
}
.zero48 {
  margin-top: 3px;
  box-sizing: border-box;
  position: relative;
  width: 100%;
}
.zero48 table {
  width: 100%;
  max-width: 100%;
  text-align: center;
  border-spacing: 0;
}
.zero48 table th,
.zero48 table td {
  border: none;
  border-top: 1px;
  border-bottom: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-collapse: collapse;
}

.zero51 {
  border-right: 1px !important;
  border-right-style: solid !important;
}
.zero52 {
 border-right: 1px !important;
  border-right-style: solid !important;
}
.zero54 {
  margin-left: 180px;
  width: 100%vw;
  max-width: 100%;
}
.zero55 {
  width: calc(100%-200px);
  margin-left: 5px;
  margin-bottom: 1px;
  
}
.zero56 {
  margin-left: 5px;
  margin-bottom: 2px;
  margin-top: 1px;
}
.zero57 {
  margin-left: 10px;
  margin-top: 1px;
  margin-bottom: 1px; 
}
.zero58{
  border-radius: 10px;
  border: #030202;
  border-style: solid;
  border-width: 0.1px;
  margin-left: 2px;
  margin-top: 1px;
  padding-left: 10px;
  background-color: #e8eeee;
  height: 25px;
}
.zero59 {
 margin-left: 200px;
 position: relative;
 overflow-x: auto;
 width: calc(100% - 200px);
 box-sizing: border-box;
}
.zero59 table {
  width: 100%;
  max-width: 100%;
  table-layout: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.zero59 table th,
.zero59 table td { 
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.zero60 {
  margin-left: 200px;
  max-width: 100%;
}
.zero61 {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  padding: 0;
  height: auto;
}
.zer061 table {
  width: 100%;
  max-width: 100%;
  table-layout: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
  padding: 0px;
}
.zero61 table th,
.zero61 table td {
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.zero62 {
  margin-top: 1px;
}
