body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    height: 100%;
}
.sidebar {
    width: 180px;
    height: 100vh;
    background-color: #9f3fbc;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100; 
}
.sidebar h3 {
    padding-left: 60px;
    padding-top: 25px;
    color: #eaf2f8;
    font-weight: bolder;
}
.sidebar nav {
   display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}
.sidebar a {
    color: white;
    text-decoration: none;
    padding: 1px 20px;
    border-radius: 4px;
    transition: background-color 0.3s;
    font-weight: bolder;
    line-height: 84%;
}
.sidebar a:hover {
    background-color: #34495e;
}
.main-content {
   margin-left: 180px;
    padding: 10px 20px;
    position: relative;
    z-index: 1;
    background-color: #fff;
    line-height: 1px;
}
.wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    line-height: 1;
}
.wrapper1 {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.wrapper2 {
    display: flex;
    flex-direction: column;
    margin-left: 210px;
    margin-right: 100px;
}
.wrapper3 .main-content{
  font-style: italic;
  font-size: smaller;
}
/*Main Content*/
.EC2 .main-content {
     background-color: #eaf2f8;
    font-style: italic;
    font-size: smaller;
    
}
.s3 .main-content {
     background-color: #eaf2f8;
    font-style: italic;
    font-size: smaller;
    
}
.IAM .main-content {
     background-color: #eaf2f8;
    font-style: italic;
    font-size: smaller;
    display: flex;
}

/* Hide dropdown by default */
.dropdown {
  display: none;
  flex-direction: column;
  background-color: #a658c4;
  padding-left: 20px;
}
body.cloudwatch-page .dropdown {
  display: flex;
}
.dropdown a {
  padding: 6px 0;
  color: white;
  text-decoration: none;
  font-weight: normal;
}
.dropdown-label {
  display: block;
  padding: 10px 20px;
  font-weight: bold;
  background-color: #9f3fbc;
  color: white;
  text-decoration: none;
}
/*Body*/
.EC2 {
    background-color: #f2f2f2;
    font-style: normal;
}
.Pre-defined {
    background-color: #f2f2f2;
    font-style: normal;
}
.s3 { 
    background-color: #f2f2f2;
    font-style: normal;
}
.IAM { 
    background-color: #f2f2f2;
    font-style: normal;
}

.Pre-defined .main-content {
    background-color: #f2f2f2;
    font-style: normal;
    color: black;
    border: 10px;
    line-height: 20px;
    padding-top: 2px;
}
.Pre-defined .main-content table{
 width: 100%;
}
code {
    color: #c7254e;            
    padding: 2px 6px;
    border-radius: 4px;
    font-family: Consolas, monospace;
}
.one {
margin-top: 2%;
margin-bottom: 2%;
}
.two {
background-color: #91f4bc;         /* Light gray background */
  border: 2px solid #ccc;            /* Light border for square look */
  padding: 8px;
  margin-top: -1%;
  margin-bottom: -0.5%;
  font-family: 'Courier New', monospace; /* Clear, coder-style font */
  color: #b30000;                    /* Deep red text */
  white-space: pre-line;             /* Keeps formatting */
  border-radius: 2px;
}
.three {
  margin-bottom: 2% ;
}
.four {
    margin-top: -1.2%;
}
.five {
     line-height: 1.4;
} 
.six {
    margin-top: 50px;
     margin-left: 200px;
     padding-bottom: -20%;
     font-weight: bold;
     display: flex;
     flex-direction: column;
     width: 83%;
     font-size: smaller;
} 
.seven {
    line-height: 15px;
}
.eight {
  background-color: #91f4bc;        
  border: 2px solid #ccc;            
  padding: -5px;
  margin-top: -1%;
  margin-bottom: -0.5%;
  font-family: 'Courier New', monospace; 
  color: #b30000;                   
  white-space: pre-line;             
  border-radius: 2px;
}

.nine {
  background-color: #91f4bc;         /* Light gray background */
  border: 2px solid #ccc;            /* Light border for square look */
  padding: -5px;
  margin-top: -1%;
  margin-bottom: -0.5%;
  font-family: 'Courier New', monospace; /* Clear, coder-style font */
  color: #b30000;                    /* Deep red text */
  white-space: pre-line;             /* Keeps formatting */
  border-radius: 2px;
  font-size: medium;
}
.ten {
  background-color: #91f4bc;         /* Light gray background */
  border: 2px solid #ccc;            /* Light border for square look */
  padding: -5px;
  margin-top: -1%;
  margin-bottom: -0.5%;
  font-family: 'Courier New', monospace; /* Clear, coder-style font */
  color: #b30000;                    /* Deep red text */
  white-space: pre-line;             /* Keeps formatting */
  border-radius: 2px;
  font-size: smaller;
}
.zero1 {
line-height: 1;
}
.zero2 {
margin-top: 4px;
}
/*CW-statistics*/
.zero3{
  background-color: #91f4bc;         /* Light gray background */
  border: 2px solid #ccc;            /* Light border for square look */
  margin-top: -1px;
  margin-bottom: -1px;
  font-family: 'Courier New', monospace; /* Clear, coder-style font */
  color: #b30000;                    /* Deep red text */
  white-space: pre-line;             /* Keeps formatting */
  border-radius: 2px;
  font-size: medium;
  line-height: 1;
}
.codebox{
  background-color: #e8eeee;         /* Light gray background */
  border: 0px solid #e4ebeb;            /* Light border for square look */
  margin-top: -1px;
  margin-bottom: -1px;
  margin-left: 200px;
  margin-right: 20px;
  padding-left: 20px;
  font-family: 'Courier New', monospace; /* Clear, coder-style font */
  color: #030202;                    /* Deep red text */
  white-space: pre-line;             /* Keeps formatting */
  border-radius: 15px;
  font-size: medium;
  line-height: 1;
}